{% extends 'base.html.twig' %}

{% block body %}

<h1 style="text-align:center">{{listeVideo.titre}}</h1>
<p>
<img src="{{listeVideo.urlImage}}"/> </br>

Saison : {{listeVideo.saison}}</br>

Episode : {{listeVideo.episode}}</br>

<iframe width="560" height="315" src="{{listeVideo.url}}" frameborder="0" allowfullscreen></iframe></br>

<a href = "{{ path('serie',{ 'id': listeVideo.serieId} ) }}" >Retour à la liste d'épisode </a></br>
</p>
{% for comment in comments %}

<ul>

	  {{ comment.content }}

	<li>
		{% for utilisateur in utilisateurs %}

		{% if utilisateur.id == comment.userId %}

		{{ utilisateur.login }}

		{% endif %}

		{% endfor %}
	</li>


</ul>

{% endfor %}

{{ form(form) }}

{% endblock %}
